@page
@model InLabProject.Pages.ProjectsModel
@{
}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Project 1</h5>
        <p class="card-text">This is project 1 made by team 1</p>
        <a href="#" class="btn btn-primary">View Project</a>
    </div>
</div>
<br />
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Project 2</h5>
        <p class="card-text">This is project 2 made by team 2</p>
        <a href="#" class="btn btn-primary">View Project</a>
    </div>
</div>
